@import "./utils/variables";
@import "./base/common";
@import "./base/container";
@import "./components/button";
@import "./components/section";
@import "./components/title";
@import "./components/link";
@import "./components/social-icons";
@import "./components/close-modal";
@import "./components/icons";
@import "./components/input";
@import "./components/modal";
@import "./components/image";
@import "./components/backdrop";
@import "./components/textarea";
@import "./components/list";
@import "./components/clients";
@import "./components/checkbox";
@import "./components/description";
@import "./components/form&label";
@import "./components/address";

.highlight {
  color: var(--brend-color);
}

.profession {
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
  margin-top: 5px;
}

.subscribe {
  margin-left: 93px;
  width: 50%;
}
