.button {
  background-color: var(--brend-color);
  color: var(--main-color);
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  padding: 10px 32px;
  transition: background-color var(--animation);
  outline: none;

  &:hover {
    background-color: var(--alternative-color);
  }
  &:focus {
    background-color: var(--alternative-color);
  }
}
.modal button {
  display: block;
  background-color: var(--brend-color);
  padding: 10px 55px;
  color: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--animation);
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 0.06em;
  margin: 0 auto;

  &:hover {
    background-color: var(--alternative-color);
  }
  &:focus {
    background-color: var(--alternative-color);
  }
}
.button-list .button-2 {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition-property: background, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  color: var(--main-text-color);
  background: var(--background-color);
  padding: 6px 22px;
  margin-right: 8px;
  border: none;
  outline: none;

  &:hover {
    background: var(--brend-color);
    color: var(--main-color);
    transform: translateY(0);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &:focus {
    background: var(--brend-color);
    color: var(--main-color);
    transform: translateY(0);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.submit-button {
  padding: 10px 28px;
  background-color: var(--brend-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-color);
  height: 50px;
  display: inline-flex;
  align-items: center;
  margin-left: 12px;
  outline: none;
}
.submit-button > .svg-subcribe {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../svg/images-svg/icon-send.svg);
}
