.close__link {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  &:hover .close__svg {
    fill: var(--brend-color);
  }
  &:focus .close__svg {
    fill: var(--brend-color);
  }
}

.close__svg {
  width: 11px;
  height: 11px;
  transition: fill var(--animation);
}
