.description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-description {
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin: 0;
}
.profession-description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--main-color);
}
