.form-input {
  margin-top: 4px;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: border var(--animation);
}
.form-input:hover,
.form-input:focus {
  border: 1px solid var(--brend-color);
  outline: none;
}

.form-input:hover ~ .modal-icons,
.form-input:focus ~ .modal-icons {
  fill: var(--brend-color);
}

.form-input:hover ~ .modal-icons-2,
.form-input:focus ~ .modal-icons-2 {
  fill: var(--brend-color);
}
.form-input:hover ~ .modal-icons-3,
.form-input:focus ~ .modal-icons-3 {
  fill: var(--brend-color);
}
.modal-inputs {
  color: var(--other-text-color);
  padding-left: 40px;
  padding-right: 40px;
}
.checkbox > input {
  width: 16px;
  height: 15px;
  margin: 0;
  margin-right: 8.38px;
  cursor: pointer;
}
.input-check {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.input-check:checked + .check-box {
  background-image: url(../svg/images-svg/checkbox-vector-hover.svg);
  background-color: var(--brend-color);
  border-radius: 2px;
}
