.team-items {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-top: 50px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.catalog-item {
  margin-top: 34px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
  position: relative;
  overflow: hidden;
  &:hover .catalog-images {
    transform: translateY(-100%);
  }
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.clients-item {
  height: 90px;
  margin-left: 30px;
  margin-top: 50px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  list-style-type: none;
  flex-basis: calc((100% - 120px) / 6);
  transition: border var(--animation);
  &:hover,
  &:focus {
    border: 1px solid var(--brend-color);
  }
}
.list-items {
  margin-left: 30px;
  margin-top: 0px;
  flex-basis: calc((100% - 120px) / 4);
  &::before {
    content: "";
    height: 120px;
    display: block;
    background-color: var(--background-color);
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:nth-child(1)::before {
    background-image: url(../svg/images-svg/antenna.svg);
  }
  &:nth-child(2)::before {
    background-image: url(../svg/images-svg/clock.svg);
  }
  &:nth-child(3)::before {
    background-image: url(../svg/images-svg/diagram.svg);
  }
  &:nth-child(4)::before {
    background-image: url(../svg/images-svg/astronaut.svg);
  }
}
.link-with-item {
  color: var(--other-text-color);

  display: flex;
  align-items: center;
  transition: color var(--animation);

  &:hover .icon {
    fill: var(--brend-color);
  }
  &:focus .icon {
    fill: var(--brend-color);
  }
  &:hover .icon-2 {
    fill: var(--brend-color);
  }
  &:focus .icon-2 {
    fill: var(--brend-color);
  }
  &:hover {
    color: var(--brend-color);
  }
  &:focus {
    color: var(--brend-color);
  }
}
