.team-name {
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin: 0;
  margin-bottom: 50px;
}
.section-name {
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin: 0;
  margin-bottom: 50px;
}
.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
  color: var(--main-text-color);
}
.main-name {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.modal__name {
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 40px;
  margin-bottom: 12px;
}

.label-name {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin: 0;
}

.catalog-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  color: var(--main-text-color);
}

.list-name {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
  color: var(--main-text-color);
}
