.social-icons {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 16px;

  .icons {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    transition: fill var(--animation);
  }
}
.social-icons-item + .social-icons-item {
  margin-left: 10px;
}
.social-footer-icons {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin-top: 20px;
  margin-bottom: 0;

  .social-svg-icons {
    width: 20px;
    height: 20px;
    fill: var(--main-color);
  }
}
.social-networks-icons {
  display: flex;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background var(--animation);

  &:hover {
    background: var(--brend-color);
  }
  &:focus {
    background: var(--brend-color);
  }
}
