.textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 12px;
  transition: border var(--animation);
  &:hover,
  &:focus {
    border: 1px solid var(--brend-color);
    outline: none;
  }
  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
