.title {
  color: var(--brend-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.title-2 {
  color: var(--main-text-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.modal-title {
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 40px;
  margin-bottom: 12px;
}
.section-titles {
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin: 0;
  margin-bottom: 50px;
}
.label-title {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin: 0;
}
.footer-social-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-top: 12px;
  margin-bottom: 20px;
}
.portfolio-description-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  color: var(--main-text-color);
}
.description-section-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
  color: var(--main-text-color);
}
.title-studio-footer {
  color: var(--main-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
